.top {
	text-align: center;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 54px;
	font-weight: 300;
	line-height: 58px;
}

h3 {
	font-family: 'Lato', sans-serif;
}

select { width: 100px; }

h4 {
	font-family: 'Lato', sans-serif;
}

p {
	color: #adb7bd;
	font-family: 'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	margin: 0;
}

.btn-traceroute {
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color: #768d87;
	border-radius: 5px;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 23px;
	margin-top: 8px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b665e;
}

.btn-traceroute:hover {
	background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color: #6c7c7c;
}

.btn-traceroute:active {
	position: relative;
	top: 1px;
}

.column {
	float: left;
	width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }