<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>CapiTrain Traceroute</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    html,
    body {
      height: 100%;
    }

    #map {
      width: 60%;
      height: 70%;
      margin: 0 auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
  <script src="../static/js/leaflet.polylineDecorator.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>


  <script src="../static/js/index.js"></script>
</head>

<body onload="init();">
  <div class="top">
    <h1>CapiTrain</h1>
    <br>
    <br>

    <div class="row">
      <div class="column">
        <h3>Traceroute between points</h3>
        <p>Target:
          <input type="text" id="ipTxt" size="20"><br>
        </p>
        <a class="btn-traceroute" onclick="traceroute()">Traceroute</a>
      </div>
      <div class="column">
        <h3>Filter traceroutes</h3>
        <h4>Source:</h4>
        <p>
          City: <select name="from-city" id="from-city">
            <option value="">--All--</option>
          </select>
          <br>
          Provider: <select name="provider" id="from-provider">
            <option value="">--All--</option>
          </select>
        
        </p>
        <h4>Target:</h4>
        <p>
          City: <select name="to-city" id="to-city">
            <option value="">--All--</option>
          </select>
          <br>
          Provider: <select name="provider" id="to-provider">
            <option value="">--All--</option>
          </select>
        </p>
        <a class="btn-traceroute" onclick="traceroute()">Show traceroutes</a>
      </div>
    </div> 

  </div>
  <div id="map">
  </div>
</body>

</html>